---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="I'm a Winger at JP/Politikens Hus, with 20 years experience across agencies, startups, fintech, the public sector and entrepreneurship"
  pubDate={new Date("August 08 2021")}
  heroImage="/ccna.jpg"
>
  <p>
    I like to build infrastructure things and business value. I'm a hands-on
    infrastructure architect and technical leader with with 20+ years of
    experience across agencies, startups, fintech, the public sector and
    entrepreneurship.
  </p>

  <p>
    On a day to day basis I work with the teams at JP/Politikens Hus, where I -
    help define and implement the technical strategy for the company - modernize
    legacy platforms and infrastructure - analyze and plan infrastructe
    migrations - build and maintain the infrastructure for our new digital
    products - focus on cost saving, security and emission strategy -
    Collaborate across businesses and stakeholders to get buy-in and define
    technical strategies.
  </p>
  <p>
    purpose Infrastructure VMWare AWS Azure Terraform Cloudformation Scriptiing
    sh CI/CD Github Actions Change management Jira ServiceNow github Version
    control Github Gitlab
  </p>

  <p>
    Work experience Senior Infrastructure Architect at JP/Politikens Hus 2023 -
    Present I'm focusing on modernising our infrastructure and establishing an
    internal developer platform
  </p>

  <p>
    Consultant at ITOperations 2019 - 2023 Consultant Altapay Focusing on
    network and cloud infrastructure
  </p>

  Valitor Ad Pepper Filmschool 2ndC altapay.com : Payment provider
  twentythree.net : Video marketing platform mono.net : Webhosting reseller
  nos.co : Innovation management valitor.com : Payment solutions podio.com :
  Collaboration sf.dk : Political party socialsquare.dk : Strategy consulting
  kvadrat.dk : Textile design bornibyen.dk : What to do with kids simplersystems
  1px
</Layout>
