---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="I'm a Winger at JP/Politikens Hus, with 20 years experience across agencies, startups, fintech, the public sector and entrepreneurship"
  pubDate={new Date("August 08 2021")}
  heroImage="/CCNA.jpeg"
>
  <p>
    I like to build infrastructure things and drive business value. I'm a
    hands-on infrastructure architect and technical leader with with more than
    two decades of experience across agencies, startups, fintech, the public
    sector and entrepreneurship.
  </p>

  <p>
    On a day to day basis I work with the teams at JP/Politikens Hus, where I:
    <li>Help define and implement the company's technical strategy</li>
    <li>Modernize legacy platforms and infrastructure</li>
    <li>Analyze and plan hybrid infrastructure migrations</li>
    <li>Build and maintain infrastructure for digital product teams</li>
    <li>Focus on strategies for cost saving, security, and low emission</li>
    <li>
      Collaborate across businesses and stakeholders to secure buy-in and define
      technical strategies
    </li>

    This is some of the tools I often use:
  </p>

  <div style="display: flex;">
    <div style="flex: 1; padding: 10px;">
      <h2 style="text-align: center;">Purpose</h2>
      <li>Infrastructure</li>
      <li>Scripting</li>
      <li>CI/CD</li>
      <li>Change management</li>
      <li>Version control</li>
      <!-- Content for Purpose -->
    </div>
    <div style="flex: 1; padding: 10px;">
      <h2 style="text-align: center;">Things</h2>
      <ul style="list-style-type: none; padding: 0;">
        <li>VMWare</li>
        <li>AWS</li>
        <li>Azure</li>
        <li>Terraform</li>
        <li>Cloudformation</li>
        <li>Github Actions</li>
        <li>Jira</li>
        <li>ServiceNow</li>
        <li>github</li>
        <li>Github</li>
        <li>Gitlab</li>
      </ul>
    </div>
  </div>

  <p>
    purpose Infrastructure VMWare AWS Azure Terraform Cloudformation Scriptiing
    sh CI/CD Github Actions Change management Jira ServiceNow github Version
    control Github Gitlab
  </p>
  Work experience
  <p>
    Senior Infrastructure Architect at JP/Politikens Hus 2023 - Present I'm
    focusing on modernising our infrastructure and establishing an internal
    developer platform
  </p>
  | Purpose | Thing | | -------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  | | Cloud infrastructure | Providers: <ul>
    <li>Amazon Web Services</li><li>Microsoft Azure</li>
  </ul> Configuration-as-code: <ul>
    <li>Infrastructure: Terraform, CloudFormation</li><li>
      Machine configuration: Ansible, Packer
    </li>
  </ul> | | Backend development | Node, Python, Ruby, Rails, PHP, Laravel, Lumen,
  Go | | Frontend development | Vanilla HTML, CSS, JavaScript and flavours: <ul>
    <li>HTML: Nunjucks, Pug, Moustache, Handlebars</li><li>
      CSS: Sass, SCSS, LESS, Tailwind
    </li><li>JavaScript: Angular, React, Alpine</li>
  </ul> | | General scripting | Node, JavaScript, `sh` and `zsh`, Go | | CI/CD pipelines
  | GitHub Actions, Circle, Jenkins, GoCD | | Issue tracking | Jira, GitHub Projects
  | | Version control | Git (inc. GitHub, GitLab, BitBucket)
  <p>
    Consultant at ITOperations 2019 - 2023 Consultant Altapay Focusing on
    network and cloud infrastructure
  </p>

  Valitor Ad Pepper Filmschool 2ndC altapay.com : Payment provider
  twentythree.net : Video marketing platform mono.net : Webhosting reseller
  nos.co : Innovation management valitor.com : Payment solutions podio.com :
  Collaboration sf.dk : Political party socialsquare.dk : Strategy consulting
  kvadrat.dk : Textile design bornibyen.dk : What to do with kids simplersystems
  1px
</Layout>
