---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello !</h1>
			<p>
				Welcome to the official <a href="https://kristoffer.egefelt.net/">Kristoffer</a> website. 
			</p>
			<p>
        I'm currently working in the Platform Team at JP/Politikens Hus as a infrastructure person.
			</p>
			<p>More about me: <a href="https://kristoffer.egefelt.net/about/">here<a></p>
			<ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for more personality? Check out my <a
					href="https://kristoffer.egefelt.net/blog/"
					>blog
				</a> inspired by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
