---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <img src="/hello2.jpeg" alt="Kristoffers Hello Mugshot" />
      <p>
        <!--<h1>👋 Hello there !</h1>-->
        <p>
          👋 I'm currently working in the <a href="https://www.thoughtworks.com/radar/techniques/platform-engineering-product-teams">Platform Team</a> at
          <a href="https://jppol.dk">JP/Politikens Hus</a> <br />
          as creative winger and playmaker. (Almost like <a href="https://g.co/kgs/TfCKVMy">Pirlo</a>)
        </p>
      </p>
      <p>
        More about me: <a href="/blog/about/">here</a>
      </p>
      <ul></ul>
    </main>
    <Footer />
  </body>
</html>
